<% include ../partials/header %>
	
<div class="container">
	<div class="row">
		
		<div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
			<div class='thumbnail'>
		        <img class="image-responsive" src = "<%=park.img %>"></img>
		        <div class='caption'>
			    	<h4 class="pull-right">$<%= park.price %>/night</h4>
		            <h4><a><%= park.name %></a></h4>
		            <p><%= park.description %></p>
		            <p>
						<em>Submitted by: <%= park.author.username %>, <%= moment(park.createdAt).fromNow() %></em>
					</p>
		            <% if(currentUser && park.author.id.equals(currentUser._id)) { %>
		            <div class="text-left">
						<a class="btn btn-xs btn-warning" href="/parks/<%= park._id %>/edit">Edit</a>
					
						<form class="delete" action="/parks/<%= park._id %>/?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">DELETE</button>
						</form>
					</div>
					<% } %>
		        </div>
		        
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/parks/<%= park._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% park.comments.forEach(function(comment) { %>
				    <div class="row">
				    	<div class="col-md-12">
					        <strong><%= comment.author.username %></strong>
					        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
					        <p>
					        	<%= comment.text %>
					        </p>
					        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
					        <div class="text-left">
							<a class="btn btn-xs btn-warning" 
								href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
								Edit
							</a>
							<form class="delete" action="/parks/<%= park._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger">DELETE</button>
							</form>
							<% } %>
					</div>
				        </div>
				    </div>
				<% }) %>
				
			</div>
			<div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
			
			<!--<div class="list-group">-->
			<!--	<li class="list-group-item active">Info 1</li>-->
			<!--	<li class="list-group-item">Info 2</li>-->
			<!--	<li class="list-group-item">Info 3</li>-->
			<!--</div>-->
			<div id="map"></div>
			<p class="lead"><i class="fas fa-map-marker-alt"></i> Location</p>
			<h4><a><%= park.location %></a></h4>
			<p>  </p>
			<a class="btn btn-primary btn-lg" href="/parks">Back</a>
		</div>
		</div>
	</div>
</div>	

<script>
  function initMap() {
    var lat = <%= park.lat %>;
    var lng = <%= park.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= park.name %><br />
      <%= park.location %></strong>
      <p><%= park.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPVwSRRdRkBgLskX1dGNl21V0KmKWz1u8&callback=initMap"></script>
	
<% include ../partials/footer %>